
.tab {
    border-collapse: collapse;
    margin: 20px auto;  
}
th, td {
    padding: 9px;
    text-align: start;
}

button {
    padding: 15px 30px;
    background-color: white;
    color:#3182CE;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #3182CE;
    margin-left: 45px;
    font-size:0.5vw;
}
button:hover {
    background-color:rgb(167, 167, 167);
}

.block{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    border-radius: 25px;
    width: 45%;
}
.cod{
    color:rgb(138, 152, 155);
    font-size: 12px;
    padding-right: 200px;
}
img{
    width: 15px;
}

@font-face {
    font-family: "Helvetica";
    src:
      url("/Helvetica/helvetica_regular.otf") format("otf");
  }
.price{
    font-size:18px;
    padding-right: 200px;
}
.month{
    font-size: 14px;
    padding-right: 200px;
}
.value{
    color:rgb(138, 152, 155); 
    font-size: 12px;
    margin-right: 5px;
    margin-left: 200px;
}
nobr{
    font-size: 10px;
}
body{
    font-family: "Helvetica";
}
th:last-child{
    text-align: right;
}
.costline{
    width: 80px; 
    height: 50px;
}